{
  "version": 2,
  "rewrites": [
    {
      "source": "/photo/upload",
      "destination": "/api/photo/upload"
    },
    {
      "source": "/photo/download",
      "destination": "/api/photo/download"
    },
    {
      "source": "/photo/upload-put",
      "destination": "/api/photo/upload-put"
    },
    {
      "source": "/api/(.*)",
      "destination": "http://44.198.30.193:8080/$1"
    },
    {
      "source": "/(.*)",
      "destination": "/index.html"
    }
  ]
}