.employee-wrap {
  width: var(--design-width);
  min-height: var(--design-height);
  position: relative;
  background: center top/var(--design-width) var(--design-height) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  background: url("../assets/inquiry/employeepage.svg");
}


.call-btn-no {
  position: absolute;
  left: 150px; 
  top: 897px;
  width: 260px;
  height: 112px;
  border-radius: 120px;
  background-image: url("../assets/inquiry/아니요버튼.svg");
}


.call-btn-yes {
  position: absolute;
  left: 450px;   
  top: 897px;
  width: 174px;
  height: 112px;
  border-radius: 120px;
  background-image: url("../assets/inquiry/네버튼.svg");
}
