.quiz-intro {
   position: relative;
  width: 1920px;
  height: 1200px;
  margin: 0 auto;
  overflow: hidden;
}


.quiz-title {
  font-size: 48px;
  font-weight: 800;
  color: #333;
  margin-bottom: 80px;
}

.quiz-btn-wrap {
  display: flex;
  gap: 60px;
}

.intro-btn {
  top: 300px;
  width: 381px;
  height: 381px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 28px;
  font-weight: 700;
  color: white;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

/* 버튼 색상 */
.intro-btn.quiz {
  background-color: #4a6cff; /* 파랑 */
}

.intro-btn.type {
  background-color: #ffb84a; /* 주황 */
}

/* 호버 효과 */
.intro-btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
